.sidebars {
  position: relative;
  margin: 1vh;
  border: solid 1px white;
  padding: 10px;
  color: white;
  width: 21vw;
  overflow: auto;
}

.sidebars h1 {
  margin: 0;
  text-align: center;
}
.verbiage {
  margin: 20px 0;
  display: flex;
  font-size: 16px;
  line-height: 18px;
}

.verbiage img {
  margin-right: 10px;
  height: 70px;
  margin: 5px;
  border: solid 1px #FFFFFF44
}

.terrain-info {
  border: solid 1px white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.terrain-info h2 {
  margin: 0;
}

.terrain-info img {
  margin: 15px 0;
  width: 100%;
}