
.world-map {
  position: absolute;
  width: 5000px;
  height: 5000px;
  opacity: 0;
  transition: opacity 1s;
  ;
}

.world-map.loaded {
  opacity: 1;
}

.world-map-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 86vh;
  border: solid 3px white;
  background: #312524;
  margin-top: 1vh;
}

.grid-row {
  width: 100%;
  margin: 2px 0;
}

.grid-row img {
  width: 50px;
  margin: 0 1px;
  border: solid 1px white;
}