.interactive-page {
  overflow: hidden;
}

.map {
  position: absolute;
  width: 5000px;
  height: 5000px;
  opacity: 0;
  transition: opacity 1s;
  background-color: black;
  ;
}

.map.loaded {
  opacity: 1;
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 76vh;
  border: solid 3px white;
}

.grid-row {
  width: 100%;
  margin: 2px 0;
}

.grid-row img {
  width: 50px;
  margin: 0 1px;
  border: solid 1px white;
}