.loading-indicator {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.loading-indicator img {
  width: 100px;
  animation: spin 1s infinite linear;
}

.loading-indicator h1 {
  color: white;
  animation: flash 0.5s infinite linear;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes spin {
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}
