/* @font-face {
  font-family: Metal;
  src: url('./assets/fonts/MetalMania-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Metal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
